
.post-content blockquote {
  background-color: #eff2fb;
  padding: 0px;

  padding: 10px;
}

/* Style the link in a blockquote */


td> pre>code>span[style*="display:block"][style] {
  background: #0d1145 !important;
}
